*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.title {
  background-image: url(../images/title/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  padding: 0 20px;
}
.container #navTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

#leftNav {
  width: 50px;
  height: 50px;
  content: url(../images/title/logo.svg);
}
#leftNav:hover {
  content: url(../images/title/logoGold.svg);
  cursor: pointer;
  transition: 0.2s;
}

#rightNav {
  display: flex;
  align-items: center;
}
#rightNav ul li {
  display: inline-block;
}
#rightNav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}
#rightNav ul li a:hover {
  color: #bdae82;
  transition: 0.2s;
}
#rightNav p:first-of-type {
  color: #bdae82;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
}
#rightNav p:nth-of-type(2) {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}
#rightNav p:last-of-type {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
}
#rightNav #hamburgerMenu {
  display: none;
  transition: 0.3s;
}

.titleContent {
  margin-top: 160px;
  max-width: 500px;
  margin-left: 60px;
}
.titleContent h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #fff;
}
.titleContent p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  margin: 10px 0 25px;
  max-width: 470px;
}
.titleContent button {
  padding: 8px 72px;
  background-color: #bdae82;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  cursor: pointer;
  border: none;
  outline: none;
}
.titleContent button:hover {
  color: #fff;
  transition: 0.2s;
}

.portfolio {
  background-color: #000;
}

.textMainPortfolio {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  padding-top: 100px;
  text-align: center;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

hr {
  display: inline-block;
  border: 1px solid #bdae82;
  width: 240px;
  margin-bottom: 10px;
}

.buttonsPortfolio {
  margin: 0 auto;
  max-width: 895px;
  display: flex;
  justify-content: space-between;
}
.buttonsPortfolio button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  padding: 8px 0;
  min-width: 220px;
  text-align: center;
  background-color: #000;
  border: 2px solid #bdae82;
  max-width: 220px;
  transition: 0.3s;
}
.buttonsPortfolio button:hover {
  cursor: pointer;
  color: #fff;
}
.buttonsPortfolio button:focus {
  background-color: #bdae82;
  color: #000;
}

.wrapperImages {
  margin-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-gap: 25px;
  grid-template-rows: repeat(2, 560px);
  justify-content: center;
  align-items: center;
}

.wrapperBigImg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7725490196);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-top: 0;
}
.wrapperBigImg .testImg {
  width: 50%;
  height: 80%;
}

.wrapperBigImgOpen {
  opacity: 1;
  visibility: visible;
}

.wrapperContact {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.701);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.open {
  opacity: 1;
  visibility: visible;
}

.contentContact {
  min-width: 450px;
}
.contentContact .textContact {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}
.contentContact form {
  display: flex;
  flex-direction: column;
}
.contentContact form #containerEmail {
  color: #bdae82;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin: 40px 0 20px;
  width: 100%;
  border: 2px solid #bdae82;
}
.contentContact form #containerEmail #email {
  border: none;
  background-color: transparent;
  outline: none;
  color: #bdae82;
  width: 100%;
  padding-left: 20px;
}
.contentContact form #containerEmail #email::placeholder {
  color: #bdae82;
}
.contentContact form #containerTel {
  color: #bdae82;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid #bdae82;
}
.contentContact form #containerTel #tel {
  border: none;
  background-color: transparent;
  outline: none;
  color: #bdae82;
  width: 100%;
  padding-left: 20px;
}
.contentContact form #containerTel #tel::placeholder {
  color: #bdae82;
}
.contentContact form #containerMessage {
  color: #bdae82;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
  border: 2px solid #bdae82;
}
.contentContact form #containerMessage #message {
  border: none;
  background-color: transparent;
  outline: none;
  color: #bdae82;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 56px;
}
.contentContact form #containerMessage #message::placeholder {
  color: #bdae82;
}
.contentContact form #btnSubmit {
  max-width: 220px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  background-color: #bdae82;
  padding: 8px 40px;
  border: none;
  margin-top: 38px;
  cursor: pointer;
  transition: 0.3s;
}
.contentContact form #btnSubmit:hover {
  color: #fff;
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7725490196);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.burgerMenu .closeBurgerMenu {
  content: url("../images/title/hamburger_close_white.svg");
  position: absolute;
  top: 20px;
  right: 64px;
  z-index: 999;
}
.burgerMenu .closeBurgerMenu:hover {
  content: url("../images/title/hamburger_close_gold_hover.svg");
  cursor: pointer;
}
.burgerMenu ul {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: #000;
}
.burgerMenu ul li {
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 73px;
  margin-left: 127px;
  margin-bottom: 16px;
}
.burgerMenu ul li:first-of-type {
  margin-top: 134px;
}
.burgerMenu ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.burgerMenu ul li a:hover {
  color: #bdae82;
}

.burgerMenuOpen {
  opacity: 1;
  visibility: visible;
}

.wrapperImagesBig {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7725490196);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.wrapperImagesBig img {
  width: 60%;
  height: 80%;
}

.wrapperImagesBigOpen {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 766px) {
  .container {
    padding: 0 60px;
  }
  #rightNav ul {
    display: none;
  }
  #rightNav #hamburgerMenu {
    display: block;
    content: url("../images/title/hamburger_white.svg");
    margin-left: 20px;
  }
  #rightNav #hamburgerMenu:hover {
    content: url("../images/title/hamburger_gold_hover.svg");
    cursor: pointer;
  }
  .titleContent {
    margin-top: 78px;
    margin-left: 0;
  }
  .titleContent h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }
  .titleContent p {
    line-height: 24px;
    max-width: 390px;
    margin: 20px 0 60px;
  }
  .wrapperTextMainPortfolio {
    max-width: 365px;
    margin: 0 auto;
  }
  .wrapperTextMainPortfolio hr {
    width: 90px;
  }
  .wrapperTextMainPortfolio .textMainPortfolio {
    padding-top: 50px;
    color: #bdae82;
    font-size: 32px;
  }
  .buttonsPortfolio {
    flex-wrap: wrap;
    max-width: 445px;
  }
  .buttonsPortfolio button {
    margin-bottom: 5px;
  }
  .wrapperImages {
    grid-template-columns: 450px;
    grid-template-rows: 560px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 20px;
  }
  #rightNav ul {
    display: block;
  }
  #rightNav #hamburgerMenu {
    display: none;
  }
  .titleContent {
    margin-top: 160px;
    margin-left: 60px;
  }
  .titleContent h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
  }
  .titleContent p {
    line-height: 40px;
    max-width: 470px;
    margin: 10px 0 25px;
  }
  .wrapperTextMainPortfolio {
    max-width: 700px;
    margin: 0 auto;
  }
  .wrapperTextMainPortfolio hr {
    width: 240px;
  }
  .wrapperTextMainPortfolio .textMainPortfolio {
    padding-top: 100px;
    color: #bdae82;
    font-size: 40px;
  }
  .buttonsPortfolio {
    flex-wrap: no-wrap;
    max-width: 895px;
  }
  .buttonsPortfolio button {
    margin-bottom: 0;
  }
  .wrapperImages {
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(2, 560px);
  }
}/*# sourceMappingURL=styles.css.map */
